@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Exception exception = ViewData["Exception"] as Exception;
}

<h1 class="text-danger">Error.</h1>

@if (exception != null)
{
    <h3 class="text-danger">@exception.Message</h3>
}
